<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q1 - Why are you here?</title>

</head>
<body>
    <h1>How would you scale your pain?</h1>
    <div id="buttons-container">
        <button onclick="sendData('1')">1</button>
        <button onclick="sendData('2')">2</button>
        <button onclick="sendData('3')">3</button>
        <button onclick="sendData('4')">4</button>
        <button onclick="sendData('5')">5</button>
        <button onclick="sendData('6')">6</button>
        <button onclick="sendData('7')">7</button>
        <button onclick="sendData('8')">8</button>
        <button onclick="sendData('9')">9</button>
        <button onclick="sendData('10')">10</button>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        const socket = io();

        function sendData(data) {
            socket.emit('Rating', data);
			window.location.href = '/Q2'
	}
	</script>
</body>
</html>