<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allergies</title>

</head>
<body>
    <h1>Do you have any allergies?</h1>
    <div id="buttons-container">
       
		<button onclick="sendData('N/A')">No</button>
		<br>
		<br>
        <label for="other-input">Yes:</label>
    	<input type="text" id="other-input" name="other" placeholder="For Multiple Use  ,">
    <button onclick="sendOtherData()">Submit</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        const socket = io();

        function sendData(data) {
            socket.emit('AliG', data);
	}
	function sendOtherData() {
    var otherInput = document.getElementById("other-input").value;
    sendData(otherInput);
}
    </script>
</body>
</html>